/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.deep-blue {
  background-color: #324D5C !important;
}

.slider .indicators .indicator-item.active {
  background-color: #F0CA4D;
}

.heart-pink {
  background-color: #F53855 !important;
}

.footer-orange{
  background-color: #E37B40 !important;
}


.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}